@charset "utf-8";
/* CSS Document */

html,body{
  height: 100%
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: 2rem;
  flex: 1 0 auto;
}

h5 {
  color: #6E243B;
  font-size: medium;
  font-weight: bold;
}

p {
  font-size: medium;
}

h5:hover, h5:link, h5:focus, h5:active {
	color: #EDA200;
}

h6:hover, h6:link, h6:focus, h5:active {
  color: #EDA200;
}


.highlight:hover, .highlight:link, .highlight:focus, .highlight:active {
  	color: #EDA200;
}

a {
	text-decoration: none !important;
	color: inherit;
}

a:hover, a:link, a:focus, a:active {
	color: inherit;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6E243B;
  color: white;
  text-align: center;
  height: 2rem;
  position: relative;
  margin-top: -2rem;
  clear: both;
  flex-shrink: 0;
}

.footer-text {
  font-size: .75rem;
}

.contact-icon {
    height: 1.8em;
    width: 3em;

}

.contact-icon:hover, .contact-icon:active {
    position: relative;
	opacity: .8;
}

.bg-dark {
  background-color: #6E243B !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 255);
}

.relatedlinks:hover, .relatedlinks:link, .relatedlinks:focus, .relatedlinks:active {
  	color: #EDA200;
}

.image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.9;
  transition: 1s ease;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #6E243B;
}

.project-info:hover, project-info:active  .image {
  opacity: 1;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.project-info:hover, project-info:active  .overlay {
  opacity: 0;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1 !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.slide-item {
  width: 100%;
}


.slick-prev:before {
  color: #6E243B;
}

.slick-next:before {
  color: #6E243B;
}

.slick-dots li.slick-active button::before {
  color: #6E243B;
}

.slick-dots li button::before {
  color: #6E243B;
}

.portion {
  padding-top: 3%;
  width: 100%;
}

.google-slides-container{
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.google-slides-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gif {
    max-width:100%;
    height:auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.project-info {
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 700px) {
  .project-info {
    font-size: xx-large;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
}

.experience-logo {
  width: 50px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .experience-logo {
    width: 100px;
    height: auto;
  }
}

.experience-info-title {
  font-size: 1rem;
}

.experience-info-subtitle {
  font-size: .75rem !important;
}

.break {
  display: block;
  height: 5px;
  border: 1px;
  border-top: 1px solid #6E243B;
  margin: 1em 0;
  padding: 0;
}

.section-header {
  font-size: 1.5rem !important;
}

@media (max-width: 700px) {
    .award-text {
        font-size: medium;
    }
}

.award-image {
  object-fit: cover;
    width: 100%;
    height: 100%;
}

.award-image-tile {
    /*height: 200px;*/
    /*width: 200px;*/
}

@media (max-width: 700px) {
  .award-image {
    height: auto;
    width: auto;
  }
}

.award-image-overlay{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  background-color: #6E243B;
}

.project-info:hover, project-info:active .award-image-image {
  opacity: 1;
  transition: .5s ease;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.project-info:hover, project-info:active .award-image-overlay {
  opacity: .9;
  transition: .5s ease;
}

.caption-header {
  margin-bottom: 0rem !important;
}

.targetDiv {
  display: none;
}

.tile {
  height: 200px;
  width: 200px;
}

.tile-image {
  position:relative;
  display: block;
  width: 100%;
  height: auto;
}

.tile-overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  background-color: #6E243B;
}

.project-info:hover, project-info:active  .tile-image {
  opacity: 1;
  transition: .5s ease;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.project-info:hover, project-info:active  .tile-overlay {
  opacity: .9;
  transition: .5s ease;
}

@media (max-width: 700px) {
  .tile {
    height: auto;
    width: auto;
  }
}

.tiles {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 1fr););
}
